@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.unicode-title {
  font-size: 2.5rem;
  margin: 5rem 5% 20px 5%;
  color: #ffffff;
}

.unicode-background {
    background: url("../Backgrounds/image9489.webp");
    background-color: #847474;
    background-blend-mode: multiply;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.unicode-button {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.unicode-button:hover {
  background-color: #0056b3;
}

.unicode-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.unicode-section {
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101010;
  border: 2px solid #c6c6c6;
}

.unicode-section h3 {
  text-align: center;
  padding: 10px;
  background-color: #c6c6c6 !important;
  color: #242424;
  box-shadow: 2px 2px 0 0 #ffffff inset, -1px -1px 0px 2px #777 inset !important;
  width: 100%;
}

.unicode-content {
  padding: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.unicode-content b {
  margin-bottom: 10px;
}

.unicode-content p {
  padding: 10px;
}

ul,
ol {
  margin-left: 20px;
  text-align: left;
  padding: 10px;
}

li {
  margin: 5px 0;
}

.unicode-warning {
  margin-right: 5%;
  margin-left: 5%;
  font-weight: 400;
}

img.unicode-tutorial {
  width: 30%;
  height: auto;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .unicode-container {
    padding: 10px;
  }

  img.unicode-tutorial {
    width: 80%;
  }
}

.unicode-right a {
  padding: 0%;
}

.unicode-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}