.texture-background {
    background: url("../Backgrounds/jungle-lake.webp");
    background-color: #847474;
    background-blend-mode: multiply;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.texture-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-width: 100%;
    margin: 5rem auto;
    box-sizing: border-box;
}

.texture-pack-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.texture-pack-card {
    background: #00000099;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    text-align: left;
    border-radius: 10px;
    height: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texture-pack-card h3, .texture-pack-card p, .texture-pack-card a {
    margin: 10px 15px;
}

.texture-pack-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.texture-h3 {
    margin: 10px 0;
}

.texture-h1 {
    margin: 25px;
    font-size: 50px;
    font-weight: bold;
}

.texture-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 101;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    backdrop-filter: blur(100px);
}



.texture-panel h3 {
    margin: 0;
    color: var(--primary-text-color);
}

.texture-panel-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.texture-panel-buttons button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.texture-confirm-btn {
    background-color: var(--primary-text-color);
    color: white;
}

.texture-confirm-btn:hover {
    background-color: #0056b3;
}

.texture-cancel-btn {
    background-color: #888;
    color: white;
}

.texture-cancel-btn:hover {
    background-color: #666;
}

.texture-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.texture-panel.texture-show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.texture-overlay.texture-show {
    opacity: 1;
    visibility: visible;
}
